<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="mainContainer2">

    <%- include ("partials/errors") %>


    <div class="loginContainer2">

            <h1>Instructor Dashboard</h1>
            <br>
            <a href="/createnewform"> <button type="submit" id="SubmitBtn2" class="btn btn-primary">Create New Feedback Form</button> </a>
            <br><br>
            <a href="/view"> <button type="submit" id="SubmitBtn2" class="btn btn-primary">View Filled Feedback Forms</button> </a> 
    </div>

    
</div>
<%- include ("partials/footer") %>

 


