<%- include ("partials/header") %>

<div class="mainContainer">    
            
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand navTop">
        <img src="images/logo1.png" class="navLogo d-inline-block align-top" alt="">
        <span class="navbarTitle">Feedback System</span>
      </a>
      <form action="/login1" method="get"><button type="submit" class="signUpBtn btn btn-outline-success">Sign In</button></form>
    </nav>

    <section class='main'>
        <div id="mainText">
            <img class="logo animated flash" src="images/logo1.png">
            <div id="heading">
                <h1 id="mainHeading">WELCOME TO STUDENT FEEDBACK SYSTEM</h1>
                <h2 id="secondaryHeading">We provide platform for Schools, Colleges and established Universities that accepts feedback from students. Are you here for feedback? We're ready to help!</h2>
            </div>
        </div>                
    </section>
    
</div>
<%- include ("partials/footer") %>
