<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="mainContainer2">

    <div class="loginContainer2">
        <form action="/createnewform" method="post">
            <span class="loginHeading">Create New Feedback Form</span>
            
            <h4 class = "form1">Please select the branch and year of study for which you want to create feedback form.</h4>

            

            
            <div class="registerDiv">


                <div class="form-group emailForm">
                <label for="exampleInputEmail1" class="label">Branch</label>
                <!-- <input type="text" class="form-control" id="exampleInputEmail1" name="branch" aria-describedby="emailHelp" placeholder="Enter branch"> -->
                <select class="form-select form-control" aria-label="Default select example" name = "branch">
                    <option value="CSE">CSE</option>
                    <option value="EI">EI</option>
                    <option value="EC">EC</option>
                    <option value="CE">CE</option>
                    <option value="ME">ME</option>
                </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1" class="label">Year</label>
                    <select class="form-select form-control" aria-label="Default select example" name = "year">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1" class="label">Question 1</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="question1" placeholder="Add Question" required>
                    
                </div>

                <div class="form-group" id="q2">
                    <label for="exampleInputPassword1" class="label" >Question 2</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="question2" placeholder="Add Question" value = "">
                    
                </div>

                <div class="form-group" id="q3">
                    <label for="exampleInputPassword1" class="label" >Question 3</label>
                    <input type="text" class="form-control" id="exampleInputPassword1 q3" name="question3" placeholder="Add Question" value = "">
                    
                </div>

                <div class="form-group" id="q4">
                    <label for="exampleInputPassword1" class="label" >Question 4</label>
                    <input type="text" class="form-control" id="exampleInputPassword1 q4" name="question4" placeholder="Add Question" value = "">
                    
                </div>

                <div class="form-group" id="q5">
                    <label for="exampleInputPassword1" class="label" >Question 5</label>
                    <input type="text" class="form-control" id="exampleInputPassword1 q5" name="question5" placeholder="Add Question" value = "">
                    
                </div>


                <button type = "button" id = "SubmitBtn" class= "btn btn-info">Add more +</button> <br><br>
                <button type="submit" id="SubmitBtn" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>

</div>

<script>
    var ct = 2;
    var x2 = document.getElementById("q2");
    var x3 = document.getElementById("q3");
    var x4 = document.getElementById("q4");
    var x5 = document.getElementById("q5");

    var btn = document.getElementsByClassName("btn-info");
    btn[0].addEventListener("click", ()=>{
        if(ct == 2){
            x2.setAttribute("id", "exampleInputPassword1")
        }
        else if(ct == 3){
            x3.setAttribute("id", "exampleInputPassword1")
        }
        else if(ct==4){
            x4.setAttribute("id","exampleInputPassword1")
        }
        else{
            x5.setAttribute("id","exampleInputPassword1")
            btn[0].setAttribute("id", "q2")
        }
        ct++;
    });
</script>
      
<%- include ("partials/footer") %>
