<div class="mainContainer1">
    <nav class="navbar navbar-light bg-light">
       <a class="navbar-brand navTop">
       <img src="images/logo1.png" class="navLogo d-inline-block align-top" alt="">
       <span class="navbarTitle">Feedback System</span>
       </a>
       <form action="/logOut" method="post">
           <button type="submit" class="logoutBtn btn btn-outline-success">Logout</button>
       </form>
    </nav>